/* time-line.component.css */
.timeline-container {
    display: flex;
/*     flex-direction: column;
    position: relative; */
    overflow-x: visible;
    white-space: nowrap;
    flex-wrap: nowrap;
}

.timeline-item {
/*     margin: 20px 0;
    position: relative; */
    min-width: 30vw;
    opacity: 1;
}

.timeline-content {
    background: #000000;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}