.golden-frame {
    position: relative;
    padding: 10px;
    border: 5px solid transparent;
    border-image: linear-gradient(45deg, gold, transparent) 1;
    animation: shine 6s infinite;
}

@keyframes shine {
    0% {
        border-image: linear-gradient(45deg, gold, transparent) 1;
    }

    50% {
        border-image: linear-gradient(45deg, transparent, gold) 1;
    }

    100% {
        border-image: linear-gradient(45deg, gold, transparent) 1;
    }
}