h1,p{
    color: rgb(143 117 55);
}
nav {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    margin: 4rem 0 0 3rem;
}

a {
    display: flex;
    flex-direction: column;
    white-space: wrap;
    overflow: hidden;
    border-right: .05em solid orange;
    /* Efecto de cursor */
    font-family: monospace;
}

.line1,
.line2 {
    display: block;
    margin: .8rem 0;
}

.line1 {
    font-size: 1.5rem;
}

.line2 {
    font-size: 1.1rem;
    margin-left: .3rem;
}

/* Media query para responsividad */
@media (max-width: 600px) {
    .line1 {
        font-size: 1.2rem;
        margin: .5rem  0 0 .5rem;
    }

    .line2 {
        font-size: 0.9rem;
        margin: 0.8rem 0 0 0.8rem;
    }

    nav {
        margin: 2rem 0 0 0;
    }
}

