nav {
    position: absolute;
    top: 0;
    width: auto;
    z-index: 2;
    color: white;
    //padding: 10px;
    margin: 4rem 0 0 3rem;
}

a {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid orange;
    /* Efecto de cursor */
    font-family: monospace;
}

.line1,
.line2 {
    display: block;
    margin: .8rem 0;
}

.line1 {
    font-size: 1.5rem;
}

.line2 {
    font-size: 1.1rem;
    margin-left: .3rem;
}

/* Media query para responsividad */
@media (max-width: 600px) {
    .line1 {
        font-size: 2rem;
    }

    .line2 {
        font-size: 1rem;
    }
}