/* home.component.css */
.container {
    color: white;
    transition: background-color 0.5s ease;
    background-color: rgba(25, 25, 25);
}

.content {
   // background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(25, 25, 25));
    padding: 20px;
}