
canvas {
    max-width: 775px;
    max-height: 461px;
    position: relative;
}

p{
    white-space: normal;
    max-width: 100%;
}

.main{
    
}
.canvas-container {
    width: 100%;
    align-items: start;
        display: flex;
        justify-content: flex-end;
}

.hidden-text {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.visible-text {
    opacity: 1;
}