<!--Dancing, coding, learning-->

<app-grid>
    <div class="main">
        <div class="row">
            <div class="col-md-6">
                <div class="canvas-container">
                    <canvas style="width: auto;" #canvas></canvas>
                </div>
            </div>
            <div class="col-md-6">
                <div #textSection class="displayedText">
                    <h1 class="title">{{displayTitle}}</h1>
                    <h2 class="subtitle">{{displaySubTitle}}</h2>
                    <p class="text">{{displayText}}</p>
                </div>
            </div>
        </div>
    </div>
</app-grid>