<div class="main">
    <div class="row">
        <div class="col-md-6">
            <div class="canvas-container">
                <canvas #canvas id="scrollingCanvas"></canvas>
                <!--a simple square to animate-->
                <div class="square"></div>
            </div>
        </div>
        <div class="col-md-6">
            <a>
                <h1>{{displayTitle}}</h1>
                <h2>{{displaySubTitle}}</h2>
                <p>{{displayText}}</p>
            </a>
        </div>
    </div>
</div>